@using ModelsLeit.DTOs.Card
@using SharedLeit
@model CardDto

@{
    ViewData["Title"] = $"Edit {Model.Ask} Card";
}

<h2>Edit <b>@Model.Ask</b> Card</h2>
<a asp-action="Index" asp-route-id="@Model.Collection.Id" class="float-end btn btn-dark"><i class="bi bi-arrow-left-square"></i> Return</a>
<br />
<form id="EditForm" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Ask"></label>
        <input asp-for="Ask" class="form-control" />
        <span asp-validation-for="Ask" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answer"></label>
        <input asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList <CardStatus>()">
            <option disabled selected>Please Select Once</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-check form-switch">
        <input asp-for="HasMp3" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label asp-for="HasMp3" class="form-check-label" for="flexSwitchCheckDefault">Has Audio File?</label>
    </div>
    <br />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Collection.Id" />
    <button type="submit" class="btn btn-success" autofocus><i class="bi bi-floppy"></i> Save</button>
</form>