@using SharedLeit
@{
    bool isUserLoggedIn = User.Identity.IsAuthenticated;
    bool isAdmin = User.IsInRole(UserType.Admin.ToString());
    var title = "Leitner";
    //bool isTwoFactorEnabled = User.HasClaim("amr", "mfa");
    if (ViewData["Title"] is not null || ViewData["Title"] is not "Leitner")
    {
        title = $"{ViewData["Title"]} - Leitner";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" onerror="this.onerror=null;this.href='/js/bootstrap/5.3.3/css/bootstrap.min.css';">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" onerror="this.onerror=null;this.href='/css/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css';">
    @* RTL
    https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.rtl.min.css
    *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ViewLeit.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="overlay"></div>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <div id="brandL" class="w-100! mx-5 text-md-start text-center">
                    <a href="/" class="ms-4">
                        <img src="/logo.png" />
                    </a>
                </div>
                @if (isUserLoggedIn)
                {
                    <button id="my-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-xxl-auto ms-xl-auto ms-lg-auto ms-md-auto mb-2 mb-lg-0">
                        <li class="nav-item"> </li>
                        @if (isAdmin)
                        {
                            <li class="nav-item d-sm-grid d-xs-grid">
                                <a class="navbar-brand pb-1 px-2" asp-action="Index" asp-controller="AdminAccount">
                                    <i class="bi bi-people"></i>
                                    Users
                                </a>
                            </li>

                            <li class="nav-item d-sm-grid d-xs-grid">
                                <a class="navbar-brand pb-1 px-2" asp-action="Index" asp-controller="AdminCollection">
                                    <i class="bi bi-folder"></i>
                                    Collections
                                </a>
                            </li>
                        }
                        @if (isUserLoggedIn)
                        {
                            <li class="nav-item d-sm-grid d-xs-grid">
                                <a class="navbar-brand pb-1 px-2" asp-action="Index" asp-controller="Box">
                                    <i class="bi bi-inboxes"></i>
                                    My Boxes
                                </a>
                            </li>

                            <li class="nav-item d-sm-grid d-xs-grid">
                                <a class="navbar-brand pb-1 px-2" asp-action="Index" asp-controller="Collection">

                                    <i class="bi bi-folder"></i>
                                    My Collections
                                </a>
                            </li>

                            <li class="nav-item dropdown d-sm-grid d-xs-grid">
                                <a class="dropdown-toggle navbar-brand pb-1 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                    <i class="bi bi-person"></i>
                                    User
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-action="Profile" asp-controller="Account" class="dropdown-item navbar-brand p-1 px-3 mb-3">
                                            <i class="bi bi-person-lines-fill"></i>
                                            Modify Profile
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-action="ChangePassword" asp-controller="Account" class="dropdown-item navbar-brand p-1 px-3 mb-3">
                                            <i class="bi bi-person-fill-lock"></i>
                                            Change Password
                                        </a>
                                    </li>
                                @*
                                    @if (isTwoFactorEnabled)
                                    {
                                        <li>
                                            <a asp-action="Enable2FA" asp-controller="Account" class="dropdown-item navbar-brand p-1 px-3 mb-3">
                                                <i class="bi bi-lock-fill"></i>
                                                Enable 2FA
                                            </a>
                                        </li>
                                    }

                                    @if (!isTwoFactorEnabled)
                                    {
                                        <li>
                                            <a asp-action="Disable2FA" asp-controller="Account" class="dropdown-item navbar-brand p-1 px-3 mb-3">
                                                <i class="bi bi-unlock-fill"></i>
                                                Disable 2FA
                                            </a>
                                        </li>
                                    }
                                *@
                                    <li>
                                        <a asp-action="Logout" asp-controller="Account" class="dropdown-item navbar-brand p-1 px-3">
                                            <i class="bi bi-box-arrow-right"></i>
                                            Sign out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>

                <label id="modeArea">
                        <input id="modeChanger" class='toggle-checkbox' type='checkbox'></input>
                        <div class='toggle-slot'>
                            <div class='sun-icon-wrapper'>
                                <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify sun-icon" data-icon="feather-sun" data-inline="false"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="5"></circle><path d="M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72l1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"></path></g></svg></div>
                            </div>
                            <div class='toggle-button'></div>
                            <div class='moon-icon-wrapper'>
                                <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify moon-icon" data-icon="feather-moon" data-inline="false"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79A9 9 0 1 1 11.21 3A7 7 0 0 0 21 12.79"></path></svg>
                                </div>
                            </div>
                        </div>
                    </label>

            </div>
        </nav>

        @*
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div id="brandL" class="w-100 mx-5 text-md-start text-center">
                <a href="/">
                    <img src="/logo.png"/></a>


            </div>
                @*Leitner<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-grid justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>   MD LG XL
                </div>* @

                @if (isAdmin)
                {
                <a class="float-end" asp-controller="AdminAccount">
                    <i class="bi bi-people"></i>
                    Users
                </a>

                <a class="float-end" asp-controller="AdminCollection">
                    <i class="bi bi-folder"></i>
                    Collections
                </a>
                }
                @if (isUserLoggedIn)
                {
                <a class="float-end" asp-controller="Box">
                    <i class="bi bi-inboxes"></i>
                    My Boxes
                </a>
                <a class="float-end" asp-controller="Collection">
                    <i class="bi bi-folder"></i>
                    My Collections
                </a>
                <a class="float-end" asp-action="Profile" asp-controller="Account">
                    <i class="bi bi-person-gear"></i>
                    Profile
                </a>
                <a class="float-end" asp-action="Logout" asp-controller="Account">
                    <i class="bi bi-box-arrow-right"></i>
                    Sign out
                </a>
                }
        </nav>*@
    </header>
    <div id="main-div" class="container">
        <main role="main" class="pb-3 mt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024
            <div id="brandC" class="text-muted" style="display:none"><a target="_blank" href="//AminMaleki.ir" style="width: 100px;height: 100px;">
	<svg viewBox="0 0 550 400">
		<g transform="translate(0,400) scale(0.1,-0.1)"><path d="M451 3586 c-51 -28 -50 -24 -51 -583 0 -384 3 -529 12 -548 22 -49 85 -68 137 -41 50 26 51 38 51 454 l0 387 325 -325 325 -325 -142 -5 c-79 -3 -151 -9 -161 -14 -21 -10 -47 -57 -47 -85 0 -34 23 -72 51 -87 41 -21 557 -21 598 0 47 25 63 84 37 134 -18 33 -1012 1025 -1043 1041 -29 14 -62 13 -92 -3z""></path><path d="M1451 3586 c-87 -48 -50 -186 49 -186 51 0 100 49 100 99 0 75 -83 124 -149 87z"></path><path d="M1951 3586 c-51 -28 -50 -24 -51 -583 0 -384 3 -529 12 -548 22 -49 85 -68 137 -41 50 26 51 38 51 454 l0 387 168 -167 c92 -91 177 -171 189 -177 31 -16 553 -15 588 1 52 23 55 44 55 338 0 294 -3 315 -55 338 -32 15 -60 15 -88 1 -12 -6 -120 -108 -239 -227 l-218 -217 -217 217 c-120 119 -228 221 -240 227 -29 14 -62 13 -92 -3z m949 -411 l0 -75 -77 0 -77 0 74 75 c41 41 76 75 77 75 2 0 3 -34 3 -75z"></path><path d="M3451 3586 c-51 -28 -50 -24 -51 -583 0 -384 3 -529 12 -548 13 -29 55 -55 88 -55 33 0 75 26 88 55 9 19 12 164 12 545 0 381 -3 526 -12 545 -22 48 -88 68 -137 41z"></path><path d="M3951 3586 c-51 -28 -50 -24 -51 -583 0 -384 3 -529 12 -548 22 -49 85 -68 137 -41 50 26 51 38 51 454 l0 387 418 -416 c229 -230 427 -422 439 -428 46 -23 110 -2 131 44 19 41 17 1056 -2 1094 -35 66 -137 66 -172 0 -11 -23 -14 -100 -14 -416 l0 -388 -417 416 c-230 230 -428 422 -440 428 -29 14 -62 13 -92 -3z"></path><path d="M2451 2586 c-47 -26 -63 -84 -37 -135 25 -48 46 -51 337 -51 293 0 314 3 337 55 23 51 7 107 -39 131 -39 20 -562 20 -598 0z"></path><path d="M451 2086 c-51 -28 -50 -24 -51 -583 0 -384 3 -529 12 -548 22 -49 85 -68 137 -41 50 26 51 38 51 454 l0 386 173 -171 c175 -174 200 -192 255 -178 17 4 93 72 200 178 l172 171 0 -387 c0 -421 1 -431 55 -455 51 -24 112 -4 133 43 19 41 17 1056 -2 1094 -24 45 -83 63 -129 40 -12 -6 -120 -108 -239 -227 l-218 -217 -217 217 c-120 119 -228 221 -240 227 -29 14 -62 13 -92 -3z"></path><path d="M1951 2086 c-47 -26 -63 -84 -37 -134 26 -48 1028 -1040 1059 -1047 76 -19 141 46 122 123 -7 30 -999 1032 -1047 1058 -33 17 -66 17 -97 0z"></path><path d="M2451 2086 c-67 -37 -65 -143 4 -174 37 -17 1053 -17 1090 0 29 13 55 55 55 88 0 33 -26 75 -55 88 -40 18 -1061 16 -1094 -2z"></path><path d="M3951 2086 c-51 -28 -50 -24 -51 -583 0 -384 3 -529 12 -548 22 -49 85 -68 137 -41 43 23 51 54 51 204 l0 136 173 -171 c106 -106 182 -174 200 -178 76 -19 141 46 122 123 -4 17 -72 93 -178 200 l-171 172 137 0 c151 0 184 9 205 55 16 34 15 60 -2 94 -24 46 -50 51 -276 51 l-210 0 0 210 c0 141 -4 218 -12 235 -22 48 -88 68 -137 41z"></path><path d="M4951 2086 c-87 -48 -50 -186 49 -186 51 0 100 49 100 99 0 75 -83 124 -149 87z"></path><path d="M1951 1586 c-45 -25 -63 -84 -40 -129 6 -12 86 -97 177 -189 l167 -168 -137 0 c-150 0 -181 -8 -204 -51 -27 -52 -8 -115 41 -137 41 -19 557 -17 594 2 47 25 63 84 37 134 -18 32 -512 525 -543 541 -29 14 -62 13 -92 -3z"></path><path d="M2951 1586 c-47 -26 -63 -84 -37 -134 25 -46 528 -540 559 -547 75 -19 141 46 123 121 -4 14 -27 47 -51 73 l-44 47 34 13 c56 20 65 49 65 215 0 159 -7 189 -51 212 -39 20 -562 20 -598 0z m449 -263 l0 -77 -75 74 c-41 41 -75 76 -75 77 0 2 34 3 75 3 l75 0 0 -77z"></path><path d="M4951 1586 c-48 -27 -50 -42 -51 -334 0 -296 3 -317 55 -340 51 -23 107 -7 131 39 19 37 21 553 2 594 -22 48 -88 68 -137 41z"></path><path d="M1705 838 c-31 -17 -275 -260 -291 -290 -27 -51 -8 -114 41 -136 20 -9 445 -12 1796 -12 1925 0 1811 -3 1837 55 15 33 15 57 0 90 -26 58 76 55 -1705 55 l-1637 0 41 43 c46 47 63 76 63 106 0 73 -82 124 -145 89z"></path></g></svg></a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" onerror="this.onerror=null;this.src='/js/jquery/3.7.1/jquery.min.js';"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" onerror="this.onerror=null;this.src='/js/bootstrap/5.3.3/js/bootstrap.min.js';"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/site.js"></script>
</body>
</html>
