
@{
    ViewData["Title"] = "2FA Activation Activated";
}

<h2>@ViewData["Title"]</h2>
<a asp-action="Index" class="float-end btn btn-dark"><i class="bi bi-arrow-left-square"></i> Return</a>
<br />
<br />
    <p>
    Two-Factor Authentication has been successfully activated!
    </p>