@using ModelsLeit.DTOs.User

@model UserActiveTFADto

@{
    ViewData["Title"] = "2FA Deactivation";
}

<h2>@ViewData["Title"]</h2>
@if (TempData.Any(x => x.Key is "Twofactor"))
{
    <p class="text-warning">@TempData["Twofactor"]</p>
}
<br />
    <p>
        Are You Sure You Want to Disable Two-Factor Authentication?
    <br /><br /><br />
    <center>
        <a asp-action="Deactivate2FA" class="btn btn-outline-warning"><i class="bi bi-lock"></i> Disable</a>
    </center>

    </p>