@using ModelsLeit.ViewModels.User
@using SharedLeit
@model HomePageViewModel
@{
    ViewData["Title"] = "Leitner";
    if(Model is not null && (int)Model.Type is 4)
    {
        
    }
}
<div class="container-fluid">
    <div class="row fixedPage">
        <div class="col-12 col-sm-12 col-md-5 col-lg-7 col-xl-8 pageSizeDetail">
            <h1><a asp-controller="Box">Home</a></h1>
                <h3>Your Vision And Mission</h3>
                <p>There is rarely a need to outright say, “Our vision is ___,” but you ought to convey the purpose of your business in your About Us copy.</p>
                <p>Talk about why your brand exists, what makes you different, and the challenges you solve – beyond the obvious solution you sell.</p>
                <p>This is key for attracting talent, as well as prospective buyers who align with your objectives and value goals.</p>
                <h3>Your Story (History)</h3>
                <p>Every business has an origin story worth telling, and usually one that justifies why you do business and have clients.</p>
                <p>Some centennial enterprises have pages of content that can fit in this section, while startups can tell the story of how the company was born, its challenges, and its vision for the future.</p>
                <p>Whatever it is, your story matters to your prospective buyers and team members. Make it entertaining and as immersive as you can.</p>
        </div>
        <div class="col-1 col-sm-2 d-md-none d-lg-none d-xl-none">
        </div>
        <div id="supForm" class="col-10 col-sm-8 col-md-7 col-lg-5 col-xl-4 pt-0 mt-0 pt-lg-5 pt-lx-5">
            <span>
                <partial name="Partial/User/_PartialLoginForm" />
            </span><span>
                <partial name="Partial/User/_PartialForgotForm" />
            </span><span>
                <partial name="Partial/User/_PartialRegisterForm" />
            </span><span>
                <partial name="Partial/User/_PartialResetPasswordForm" />
            </span><span>
                <partial name="Partial/User/_PartialResendEmailForm" />
            </span>

            <div id="cardSpinner" class="align-items-center justify-content-center h-100">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Please Wait!</span>
                </div>
            </div>
        </div>
    </div>
</div>
@*
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GuJe7bQOfZGlbPnFKZXxXF1nWuvTgYTtMuKrEJJ6Luvlqf8ZvOegT6IKlaUVmk_QzBvL8d7M4KUNpgaUbKMPH7NVYHOaSk8Z0e_-osr-f51mp2KspsZCb7_SGeL1HgmNf3vagjdcc8PLb89jrpD2KQ">
*@

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {

            var formGo = function (e, fun) {
                var form = e;
                var action = form.attr('iq');
                $.ajax({
                    url: 'user/' + action,
                    type: 'POST',
                    data: form.serialize(),
                    success: function (status) {
                        console.log(status);
                        if (status.startsWith('/')) {
                            $('body').fadeOut('fast', function () {
                                window.location.href = status;
                            });
                        } else {
                            var formParent = form.parent();
                            formParent.html(status);
                        fun();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(status);
                        form.find('.form-message').html('Error while authenticating user credentials!');
                        console.log(status + ' : ' + error);
                        console.log(xhr);
                    }
                });
            }
            var changeForm = function () {
                var hash = window.location.hash;
                var hashName = hash.substring(1);
                var check = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetNames(typeof(UserFormType))))).includes(hashName);
                if (!check) {
                    hash = "#Login";
                    hashName = "Login";
                }
                $('#Type').val(hashName);
                $('#overlay').show();
                $('#supForm').fadeOut("fast", function () {
                    $('.someForm').addClass('d-none');
                    var form = $(hash + '.someForm');
                    form.removeClass('d-none');
                    $('#supForm').fadeIn("fast", function () {
                        $('#overlay').hide();
                    });
                });
            }
            changeForm();
            $(window).on('hashchange', function () {
                changeForm();
            });
            $(document).on('click', 'a.change', function () {
                changeForm();
            });
            $(document).on('click', 'a.go', function (e) {
                var form = $(this).closest('form');
                if ($(form).valid()) {
                    $(form).fadeOut("fast", function () {
                        $('#cardSpinner').fadeIn("fast").css('display', 'flex');
                        formGo(form, function () {
                            $('#cardSpinner').fadeOut("fast", function () {
                                $(form).fadeIn("fast");
                            })
                        });
                    });
                }
            });
            @if (TempData["Message"] is not null or "")
            {
                <text>
                    alert(@TempData["Message"]);
                </text>
            }
            @if (Model is not null && (int)Model.Type > 0 )
            {
                <text>
                    location.hash = '@(Model.Type)';
                </text>
            }
        });
    </script>
}
