html {
  font-size: 14px;
}
/*
:root {
    --bs-primary: #0d6efd
    --bs-primary-rgb: 13,110,253;
    --bs-primary-text-emphasis: #052c65;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-primary-border-subtle: #9ec5fe;
}
.link-primary:focus, .link-primary:hover {
    color: RGBA(10,88,202,var(--bs-link-opacity,1)) !important;
    -webkit-text-decoration-color: RGBA(10,88,202,var(--bs-link-underline-opacity,1)) !important;
    text-decoration-color: RGBA(10,88,202,var(--bs-link-underline-opacity,1)) !important;
}
.btn-primary2{
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
*/
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
svg,svg *{
    display: none;
}

body.y {
    background:red;
}

body div main{
    display:none;
}

.accordion-btn.collapsed {
    display: block
}

.accordion-btn {
    display: none
}
[w] {
    font-style: italic;
    text-decoration: underline;
    filter: blur(3px);
    -webkit-filter: blur(6px);
    cursor: pointer;
}
[w]:hover {
    text-decoration: wavy line-through underline;
    filter: blur(2px);
    -webkit-filter: blur(5px);
    text-decoration-color: gold;
    color: gold;
}
[b2] {
    text-decoration: wavy underline;
    text-decoration-color:#777;
}
[rtl]{
    direction:rtl;
}
[ltr]{
    direction:ltr;
}/*
#brandL {
    width:27px;
}
#brandL a {
    height: 35px;
    width: 27px;
}*/
#brandC {
    display: noen;
    width: 60px;
    float: right;
    cursor: none !important;
    margin-top: 0.5em;
}
#brandC:hover {
    width: 69px;
    margin-right: -5px;
    margin-top: 0.25em;
}
#brandC a {
    cursor: none !important;
    fill: #6c757d;
}
#brandC:hover a {
    fill: #7051a5;
}
#cardCounter {
    width: 1.5em;
    border-radius: 100%;
}
#reviewCounter {
    padding: 0 .2em;
    border-radius: 10%;
}
#reviewCounter,#cardCounter{
    height: 1.5em;
    line-height: 1.4em;
    text-align: center;
    font-size: 1.5em;
    float: right;
    color: var(--bs-btn-color);
    background: var(--bs-btn-hover-bg);
}
#cardSpinner {
    display: none;
    color: #7051a5;
}
#supForm #cardSpinner{
   min-height:200px;
}
.spinner-grow {
    animation-direction: alternate !important;
}
@media (min-width: 960px) {
    .pageSizeDetail {
        max-height: 100%;
        overflow-y: auto;
    }

    /*.fixedPage {
        height: calc(100vh - 150px)
    }*/
}
#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}
.h-27 {
    height:2.7em;
}
.w-16p{
    width:16px !important
}
#qr img {
    width: 132px;
    border: solid #fff 5px !important;
    border-radius: 10%
}
un {
    text-decoration: none !important;
    font-weight : normal !important;
}
tr[class^="bg-"] td{
    background-color:unset !important
}/*
#navbarSupportedContent{
    width:100%
}*/
#navbarSupportedContent .dropdown-menu {
    left: unset;
    right: 0px;
}
#my-menu {
    position: absolute !important;
    right: 0.3em !important;
    top: 0.3em !important;
}/*
#main-div{
    margin-top:1em
}
header nav{
    padding:0 !important;
}
.navbar-brand {
    height: 0;
}*/
.navbar-brand:hover {
    background: #7051a5;
    border-radius: 3px;
}

@media (max-width: 992px) {
        #brandL a img {
            margin-left: 48% !important
        }

        #brandL {
            width: 100% !important
        }
    
    }
@media (max-width: 768px) {
        #brandL a img {
            margin-left: 0 !important
        }

        #brandL {
            width: 100% !important
        }
    }


#modeArea {
    position: absolute !important;
    left: 1em !important;
    top: 1em !important;
}


html.change * {
    transition: ease-in-out all 1s;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    font-size: 2px;
    position: relative;
    height: 10em;
    width: 20em;
    border: 1px solid #ffbb52;
    border-radius: 10em;
    background-color: ghostwhite;
    /*box-shadow: 0px 1px 2px #e4e7ec;*/
    transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: hsl(198,90%,15%);
    border-color: #A2B5BF;
}

.toggle-button {
    transform: translate(11.75em, 1.75em);
    position: absolute;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    background-color: #ffbb52;
    /*box-shadow: inset 0px 0px 0px 0.75em #ffbb52;*/
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #A2B5BF;
    /*box-shadow: inset 0px 0px 0px 0.75em white;*/
    transform: translate(1.75em, 1.75em);
}

.sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(12em, 2em) rotate(-15deg);
}

.moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #A2B5BF;
}

.moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}
.text-justify {
    text-align: justify !important;
}

:root {
    --bs-primary-rgb: 112, 81, 165;
.btn-primary

{
    --bs-btn-bg: #7051A5;
    --bs-btn-border-color: #7051A5;
    --bs-btn-hover-bg: #5E3F93;
    --bs-btn-hover-border-color: #593A8E;
    --bs-btn-active-border-color: #55368A;
    --bs-btn-focus-shadow-rgb: 132,101,185;
    --bs-btn-active-bg: #593A8E;
    --bs-btn-disabled-bg: #7051A5;
    --bs-btn-disabled-border-color: #7051A5;
}

.btn-outline-primary {
    --bs-btn-color: #7051A5;
    --bs-btn-border-color: #7051A5;
    --bs-btn-hover-bg: #7051A5;
    --bs-btn-hover-border-color: #7051A5;
    --bs-btn-focus-shadow-rgb: 112, 81, 165;
    --bs-btn-active-bg: #7051A5;
    --bs-btn-active-border-color: #7051A5;
    --bs-btn-disabled-color: #7051A5;
    --bs-btn-disabled-border-color: #7051A5;
}

.link-primary:focus, .link-primary:hover {
    color: RGBA(var(--bs-btn-active-bg),var(--bs-link-opacity,1)) !important;
    -webkit-text-decoration-color: RGBA(var(--bs-btn-active-bg),var(--bs-link-underline-opacity,1)) !important;
    text-decoration-color: RGBA(var(--bs-btn-active-bg),var(--bs-link-underline-opacity,1)) !important;
}
}