html {
  font-size: 14px;
}
/*
:root {
    --bs-primary: #0d6efd
    --bs-primary-rgb: 13,110,253;
    --bs-primary-text-emphasis: #052c65;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-primary-border-subtle: #9ec5fe;
}
.link-primary:focus, .link-primary:hover {
    color: RGBA(10,88,202,var(--bs-link-opacity,1)) !important;
    -webkit-text-decoration-color: RGBA(10,88,202,var(--bs-link-underline-opacity,1)) !important;
    text-decoration-color: RGBA(10,88,202,var(--bs-link-underline-opacity,1)) !important;
}
.btn-primary2{
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
*/
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
svg,svg *{
    display: none;
}

body.y {
    background:red;
}

body div main{
    display:none;
}

.accordion-btn.collapsed {
    display: block
}

.accordion-btn {
    display: none
}
[w] {
    font-style: italic;
    text-decoration: underline;
    filter: blur(3px);
    -webkit-filter: blur(6px);
    cursor: pointer;
}
[w]:hover {
    text-decoration: wavy line-through underline;
    filter: blur(2px);
    -webkit-filter: blur(5px);
    text-decoration-color: gold;
    color: gold;
}
[b2] {
    text-decoration: wavy underline;
    text-decoration-color:#777;
}
[rtl]{
    direction:rtl;
}
[ltr]{
    direction:ltr;
}
#brandL {
    width:27px;
}
#brandL a {
    height: 35px;
    width: 27px;
}
#brandC {
    width: 60px;
    float: right;
    cursor: none !important;
    margin-top: 0.5em;
}
#brandC:hover {
    width: 69px;
    margin-right: -5px;
    margin-top: 0.25em;
}
#brandC a {
    cursor: none !important;
    fill: #6c757d;
}
#brandC:hover a {
    fill: #7051a5;
}
#cardCounter {
    width: 1.5em;
    border-radius: 100%;
}
#reviewCounter {
    padding: 0 .2em;
    border-radius: 10%;
}
#reviewCounter,#cardCounter{
    height: 1.5em;
    line-height: 1.4em;
    text-align: center;
    font-size: 1.5em;
    float: right;
    color: var(--bs-btn-color);
    background: var(--bs-btn-hover-bg);
}
#cardSpinner {
    display: none;
    color: #7051a5;
}
#supForm #cardSpinner{
   min-height:200px;
}
.spinner-grow {
    animation-direction: alternate !important;
}
@media (min-width: 960px) {
    .pageSizeDetail {
        max-height: 100%;
        overflow: hidden scroll;
    }

    .fixedPage {
        height: calc(100vh - 150px)
    }
}
#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}
.h-27 {
    height:2.7em;
}