html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
svg,svg *{
    display: none;
}

body.y {
    background:red;
}

body div main{
    display:none;
}

.accordion-btn.collapsed {
    display: block
}

.accordion-btn {
    display: none
}
[w] {
    font-style: italic;
    text-decoration: underline;
    filter: blur(3px);
    -webkit-filter: blur(6px);
    cursor: pointer;
}
[w]:hover {
    text-decoration: wavy line-through underline;
    filter: blur(2px);
    -webkit-filter: blur(5px);
    text-decoration-color: gold;
    color: gold;
}
[b2] {
    text-decoration: wavy underline;
    text-decoration-color:#777;
}
[rtl]{
    direction:rtl;
}
[ltr]{
    direction:ltr;
}
#brandL {
    width:27px;
}
#brandL a {
    height: 35px;
    width: 27px;
}
#brandC {
    width: 60px;
    float: right;
    cursor: none !important;
    margin-top: 0.5em;
}
#brandC:hover {
    width: 69px;
    margin-right: -5px;
    margin-top: 0.25em;
}
#brandC a {
    cursor: none !important;
    fill: #6c757d;
}
#brandC:hover a {
    fill: #7e69ac;
}
#cardCounter {
    width: 1.5em;
    border-radius: 100%;
}
#reviewCounter {
    padding: 0 .2em;
    border-radius: 10%;
}
#reviewCounter,#cardCounter{
    height: 1.5em;
    line-height: 1.4em;
    text-align: center;
    font-size: 1.5em;
    float: right;
    color: var(--bs-btn-color);
    background: var(--bs-btn-hover-bg);
}