@using ModelsLeit.DTOs.Collection

@model CollectionDto

@{
    ViewData["Title"] = $"Collection {Model.Name} Details";
}

<h2>Collection <b>@Model.Name</b> Details</h2>
<a asp-action="Index" class="float-end btn btn-dark"><i class="bi bi-arrow-left-square"></i> Return</a>
</br>
<div>
    <dl>
        <dt>Description:</dt>
        <dd>@Model.Description</dd>
        @if (Model.Status is SharedLeit.CollectionStatus.Published)
        {
            <dt>Published Date:</dt>
            <dd>@Model.PublishedDate</dd>
        }
        <dt>Status:</dt>
        <dd>@Model.Status</dd>
    </dl>
    <br />

</div>