@using ModelsLeit.DTOs.Collection
@using SharedLeit

@model CollectionDto

@{
    ViewData["Title"] = $"Edit {Model.Name} Collection";
    var noDel = Model.Status is CollectionStatus.Published or CollectionStatus.Submit || Model.BoxCount is not 0;
   
   var items = new List<SelectListItem>
        {
        new SelectListItem { Value = nameof(CollectionStatus.Draft), Text = nameof(CollectionStatus.Draft) },
        new SelectListItem { Value = nameof(CollectionStatus.Submit), Text = nameof(CollectionStatus.Submit),},
        new SelectListItem { Value = nameof(CollectionStatus.Blocked), Text = nameof(CollectionStatus.Blocked), Disabled=true},
        new SelectListItem { Value = nameof(CollectionStatus.Rejected), Text = nameof(CollectionStatus.Rejected), Disabled=true},
        new SelectListItem { Value = nameof(CollectionStatus.Published), Text = nameof(CollectionStatus.Published), Disabled=true},
        };
}

<h2>Edit <b>@Model.Name</b> Collection</h2>
<a asp-action="Index" class="float-end btn btn-dark"><i class="bi bi-arrow-left-square"></i> Return</a>
<br />
<br />
<form id="EditForm" asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="float-end"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control" asp-items="@items">
            <option disabled selected>Please Select Once</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <br />
    <input type="hidden" asp-for="Id" />
    <a href="#" id="DeleteButton" class="btn @(noDel ? "disabled" :"btn-danger")">
        <i class="bi bi-trash3"></i>
        Delete
    </a>
    <button type="submit" class="btn btn-success" autofocus>
        <i class="bi bi-floppy"></i>
        Save
    </button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#DeleteButton').click(function () {
                if ((confirm('Are you sure to DELETE "@(Html.Raw(Model.Name))" Collection?'))) {
                    var currentUrl = $('#EditForm').attr('action');
                    var newUrl = currentUrl.replace('Edit', 'Delete');
                    $('#EditForm').attr('action', newUrl);
                    $('#EditForm').submit();
                }
            });
        });
    </script>
}