@using ModelsLeit.ViewModels
@model CardViewModel

@{
    ViewData["Title"] = "Create a new Card";
}

<h2>@ViewData["Title"]</h2>
<a asp-action="Index" asp-route-id="@ViewData["CollectionId"]" class="float-end btn btn-dark"><i class="bi bi-arrow-left-square"></i> Return</a>
<br />
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Ask"></label>
        <input asp-for="Ask" class="form-control" />
        <span asp-validation-for="Ask" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answer"></label>
        <input asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-check form-switch">
        <input asp-for="HasMp3" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label asp-for="HasMp3" class="form-check-label" for="flexSwitchCheckDefault">Has Audio File?</label>
    </div>
    <input type="hidden" asp-for="Collection.Id" value="@ViewData["CollectionId"]" />
    <br />
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-floppy"></i> Save</button>
</form>